{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="assignments-update">
    <div class="form-container">
        <h1>Update Task</h1>
        <form action="/assignment/update/{{task.id}}" method="POST">
            <input type="text" name="content" value="{{task.content}}" required>
            <input type="submit" value="Update">
        </form>
        <a href="/assignment/" style="text-decoration: none; font-weight: bold;">Go Back to Task Master</a>
        <a href="/" style="text-decoration: none; font-weight: bold;">Go Back to Home Page</a>
    </div>
</div>
{% endblock %}