{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="assignments-update">
    <h1 style="text-align: center">Update Task</h1>

    <div class="form">
        <form action="/assignment/update/{{task.id}}" method="POST">
            <input type="text" name="content" id="content" value="{{task.content}}">
            <input type="submit" value="Update">
        </form>
    </div>
    <div style="text-align: center; margin-top: 20px;">
        <a href="/assignment/" style="text-decoration: none; font-weight: bold;">Go Back to Task Master</a>
    </div>
    <div style="text-align: center; margin-top: 20px;">
        <a href="/" style="text-decoration: none; font-weight: bold;">Go Back to Home Page</a>
    </div>
</div>
{% endblock %}