{% extends 'assignmentbase.html' %}

{% block head %}
<title>Landing Page</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Welcome to the Flask Application!</h1>
    <p>This is the landing page for the assignment project.</p>
    <ul>
        <!-- Link to Task Master Project -->
        <li><a href="/assignment/">Go to Task Master Project</a></li>
        
        <!-- Placeholder for Final Project -->
        <li><a href="#">Final Project (Coming Soon)</a></li>
    </ul>
</div>
{% endblock %}
